.PageWrapper {
  text-align: center;
}

.Body {
  background-color: rgb(40, 44, 52);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Wrapper {
  position: relative;
  width: calc(100% - 120px);
  max-width: 1600px;
  margin: 0 auto;

  &.Wrapper_FullWidth {
    max-width: 100%;
  }
}

.Slider {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
  overflow: hidden;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.Slider__Slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Slider__Inner {
  display: block;
}

.BtnWrapper {
  display: block;
}

.Button {
  display: inline-block;
  background: rgba(51, 55, 62, 1);
  border: none;
  color: #FFFFFF;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  margin: 0 10px;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 4px;

  &:hover:not(.Button_Disabled) {
    background: #94811a;
  }

  &.Button_Disabled {
    cursor: default;
    color: #4d4d4d;
  }
}

.Modal {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(40, 44, 52, 0.96);
  opacity: 0;

  .Modal__Overflow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    overflow: hidden;
  }

  .Modal__Body {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  h2, p {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease-in;
  }

  &.Modal_Active {
    .Modal__overflow {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }

    h2, p {
      opacity: 1;
      transform: translateY(0px);
    }

    h2 {
      transition: opacity 0.6s ease 0.2s, transform 0.6s ease-out 0.2s;
    }

    p {
      transition: opacity 0.6s ease 0.5s, transform 0.6s ease-out 0.5s;
    }
  }
}

.Text {
  max-width: 1600px;
  margin: 0 auto;

  h2 {
    font-size: 42px;
    font-weight: normal;
    margin: 64px auto 32px;
  }

  p {
    margin: 32px auto 32px;
    margin-right: 10%;
  }

  &.Text_Centered {
    text-align: center;

    p {
      margin-left: 0;
      margin-right: 0;
    }
  }

  *:first-child{
    margin-top: 0 !important;
  }

  *:last-child{
    margin-top: 0 !important;
  }
}